<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./../public/img/iconos/favicon.ico">
    <script src="https://kit.fontawesome.com/394c6d3176.js" crossorigin="anonymous"></script>
    <title>ABOUT</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="body-about">
    <header class="nav-horizontal">
    <nav>
        <ul class="nav-list">
            <li><a href="/">| HOME |</a></li>
            <li><a href="/about">ABOUT |</a></li>
            <li><a href="/music">MUSIC |</a></li>
            <li><a href="/contact">CONTAC |</a></li>
        </ul>
    </nav>
    <ul class="list-icon">
        <li><a href=""><i class="fa-brands fa-x-twitter fa-sm"></i></a></li>
        <li><a href=""><i class="fa-brands fa-facebook fa-sm"></i></a></li>
        <li><a href=""><i class="fa-brands fa-spotify fa-sm"></i></a></li>
        <li><a href=""><i class="fa-brands fa-apple fa-sm"></i></a></li>
        <li><a href=""><i class="fa-brands fa-aws fa-sm"></i></a></li>
        <li><a href=""><i class="fa-brands fa-instagram fa-sm"></i></a></li>
    </ul>
    </header>
    <section>
        <div>
            <h1>ABOUT<br> EMILIA //</h1>
        </div>
        <div class="p">
            <p class="presentacion">"Seattle-based pop star makes her <br> indie debut with a hauntingly beautiful album"</p>
            <p>- John Tirckle, Music Today Post</p>  
            <p class="presentacion">"Emilia Cole is one of the<br> scene's breakout stars" </p>
            <p> John Tirckle, Music Today Post</p>
        </div>
    </section>
    <!--
    <section>
        <div>
            <img src="img/emilia-about.jpg" alt="image background" width="75%">
        </div>
    </section>
    -->
</body>
</html>