<!--NO USAR ESTILOS DE NINGUN TIPO EN HTML, ESTO LO HACEMOS DESDE CSS-->
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8"/>
        <meta mame="viewport" content="width=devide-width, intial-scale=1.0" />
        <link rel="icon" href="../public/img/iconos/favicon.ico"/>
        <script src="https://kit.fontawesome.com/394c6d3176.js" crossorigin="anonymous"></script>
        <title>HOME</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body class="background-body">
        <header class="nav_horiz">
         <ul class="nav-1">
            <li><a href="/">HOME</a></i></li><!--ul>li*3>a-->
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/music">MUSIC</a></li>
            <li><a href="/contact">CONTAC</a></li>
         </ul>
         <ul class="nav-2">
            <li><a href=""><i class="fa-brands fa-x-twitter fa-sm"></i></a></li>
            <li><a href=""><i class="fa-brands fa-facebook fa-sm"></i></a></li>
            <li><a href=""><i class="fa-brands fa-spotify fa-sm"></i></a></li>
            <li><a href=""><i class="fa-brands fa-apple fa-sm"></i></a></li>
            <li><a href=""><i class="fa-brands fa-aws fa-sm"></i></a></li>
            <li><a href=""><i class="fa-brands fa-instagram fa-sm"></i></a></li>
         </ul>
        </header>
        <section class="subtitle-H">
            <h3>EMILIA <br>COLE //</h3>
        </section>
        <section class="title-H">
            <h1>TWIST IN MY REALITY</h1>
            <!-- voy a insertar la imagn desde la hoja de stilos
            <div>
                <img src="img/emilia-home.jpg" width="100%"/>
            </div>
            -->
        </section>
        
        <section style="display: none;"><!--"disply:none" no muestra este contenido lo mantiene oculto -->
            <article>
                <p>hola <b>mundo</b></p><!--<b></b> solo da un efecto de negrita, mientras que strong resalta y le dice al navegador esto es importante-->
            </article>
            <article>
                <strong>En negrita</strong><!--se utiliza para definir texto con gran importancia. Por lo general, el contenido del interior se muestra en negrita-->
                <br>
                <em>En cursiva</em><!--se utiliza para definir el texto enfatizado. El contenido del interior suele mostrarse en cursiva-->
            </article>
        
        </section>
        <footer>

        </footer>
    </body>
    </html>