<!DOCTYPE html>
<html>

<head>
    <meta CHARSET="utf-8" />
    <meta name="viewport" , content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./../public/img/iconos/favicon.ico">
    <script src="https://kit.fontawesome.com/394c6d3176.js" crossorigin="anonymous"></script>
    <title>MUSIC</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body class="body-music">
    <header id="top" class="nav-horizontal">
        <!--
        <div>
            <img src="img/emilia-music-top.jpg" alt="image header"width="100%">
        </div>
        -->
        <nav>
            <ul class="nav-list">
                <li><a href="/">| HOME |</a></i></li><!--ul>li*3>a-->
                <li><a href="/about">ABOUT |</a></li>
                <li><a href="/music">MUSIC |</a></li>
                <li><a href="/contact">CONTAC |</a></li>
            </ul>
        </nav>
        <ul class="list-icon">
            <li><a href=""><i class="fa-brands fa-x-twitter fa-sm"></i></a></li>
            <li><a href=""><i class="fa-brands fa-facebook fa-sm"></i></a></li>
            <li><a href=""><i class="fa-brands fa-spotify fa-sm"></i></a></li>
            <li><a href=""><i class="fa-brands fa-apple fa-sm"></i></a></li>
            <li><a href=""><i class="fa-brands fa-aws fa-sm"></i></a></li>
            <li><a href=""><i class="fa-brands fa-instagram fa-sm"></i></a></li>
        </ul>
    </header>
    <section >
        <article class="redireccion">
            <h1> MUSIC //</h1>
            <p>Direct links</p>
            <ul>
                <li>Album</li>
                <li><a href="#video1">Video: Organic Love</a></li>
                <li><a href="#video2">Video: Street Ligth</a></li>
            </ul>
        </article>
        <article class="album">
            <h3>ALBUM <br>TWIST IN MY REALITY</h3>
            <picture>
                <!--
                <img src="img/emilia-play-list.png" alt="emilia-cole-music">
                -->
            </picture>
            <ol>
                <li>Organic Love | 02:40</li>
                <li>Twist in My Reality | 02:10</li>
                <li>Street Ligth | 03:28</li>
                <li>Love Don´t Live Here Anymore (Cover) | 03:49<Label></Label></li>
            </ol>
            <p class="goto"><a href="#top">Go Top</a></p>
        </article>
    </section>
    <section id="video1">
        <article>
            <h3>VIDEO <br>ORGANIC LOVE</h3>
            <iframe src="https://player.vimeo.com/video/135166028?h=fdb0646ae5" width="640" height="360" frameborder="0"
                allow="autoplay; fullscreen; picture-in-picture" allowfullscreen>
            </iframe>
        </article>
        <article class="directores">
            <p>Directed by VINCE MALC & EMILIA COLE<br> Edited and Filmed by NICOLAS TROY<br> Produced by NIKI HEART, Wix Films LTD</p>
            <p class="goto"><a href="#top">Go Top</a></p>
        </article>
    </section>
    
    <section id="video2">
        <article>
            <h3>VIDEO<br> STREET LIGHT</h3>
            <iframe src="https://player.vimeo.com/video/134861419?h=24e3183108" width="640" height="360" frameborder="0"
                allow="autoplay; fullscreen; picture-in-picture" allowfullscreen>
            </iframe>
        </article>
        <article class="directores">
            <p>Directed by VINCE MALC & EMILIA COLE<br> Edited and Filmed by NICOLAS TROY<br> Produced by NIKI HEART, Wix Films LTD</p>
            <p class="goto"><a href="#top">Go Top</a></p>
        </article>
    </section>
</body>
</html>